.All
{
    font-size: 100%;
    text-align: center;
    background-color: #ffffff79;
    border: 10px #a508b9; 
    border-style:groove;
    padding-left: 20px;
    padding-right:1210px;
    padding-bottom: 335px;
    width: 600px;
}
.main{
    text-align: center;
    margin: auto;
    font-size: 150%;
    color: #06159ee0;
    text-shadow: 0 0 30px #900caa;
}
.block-name
{
    text-align: center;
    margin: auto;
    font-size: 150%;
    color: #fd0000e0;
    text-shadow: 0 0 30px #900caa;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

.MyText
{
    text-align: center;
    font-size: 110%;
    width: 564px;
    background: #04afff;
    border: 8px solid #78087c;
    border-radius: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: groove;
    font-style:italic;
    position: absolute;
    top: 540px;
}
.MyText:hover
{
    color:rgb(146, 18, 158);
}
.pic{
    text-align: center;
    margin-bottom: -100px;
    
    
}
.MyNeko{
    text-align: center;
    font-size: 110%;
    width: 1100px;
    background: #04afff;
    border: 8px solid #78087c;
    border-radius: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: groove;
    font-style:italic;
    position: absolute;
    top: 110px;
    left:680px;
}

.neko{
    position:absolute;
    left:710px;
    top:400px;
}
.vopros{
    position:absolute;
    left:860px;
    top:350px;
    font-size: 150%;
    color: #fd0000e0;
    text-shadow: 0 0 30px #900caa;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


.girl{
    position:absolute;
    left:1550px;
    top:549px;
}

.nname{
    position:absolute;
    left:740px;
    top:-10px;
}

.changen{
    position:absolute;
    left:760px;
    top:170px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;

}
.changen:hover{
    color:rgb(25, 10, 231);
}
